@import "../../../styles/colors.scss";

nav{
    background-color:$primary-color;
    .navbar-brand{
        padding-left: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        color:white;
        font-size: 1.1rem;
        font-weight: 600;        
    }
    .hamburger{
        padding-right: 16px;
        color: white;
        i{
            font-size: 0.9rem;
        }
    }
    .navbar-collapse{
        padding:0px;
        margin: 0px;
       .nav-item{
            text-align: center;
            background-color: $primary-light;
            
            .nav-link{
                color:#ffffff;
                font-size: 0.8rem;
                
            }
            .nav-link.active{
                font-weight:500;
                background-color: #00000030;
            }
       }
    }
}

