@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "colors.scss";
*{
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
    overflow-x: hidden;
}

.hero-image{
    background-image: url(../img/hero.jpg);
    height: 35vh;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    h2{
        overflow-x: hidden;
        padding: 2rem;
        font-weight: bold;
        color: white;
        text-shadow: black 0px 5px 20px;
        font-size: 1.4rem;
    }
}

.we-serve{
    h2{
        background-color:$primary-lighter ;
        color: $primary-dark;
        margin: 1rem;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem;
        text-align: center;
        border-radius: 8px;
    }
}

.prod-info-left{
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4{
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0;
    }
    p{
        font-weight: 400;
        font-style: italic;
        font-size: 0.8rem;
    }
}

.prod-info-right{
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h4{
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0;
        text-align: right;
    }
    p{
        font-weight: 400;
        font-style: italic;
        font-size: 0.8rem;
        text-align: right;
    }
}

    .somosa{
        background-image: url(../img/samosa.jpg);
        height: 250px;
        width: auto;
        background-size: cover;
        overflow: hidden;
        clip-path: polygon(40% 0% , 55% 20% , 20% 100% , 100% 100% , 100% 0%);       
    }
    .jalebi{
        background-image: url(../img/jalebi.jpg);
        height: 250px;
        background-size: cover;
        overflow: hidden; 
        clip-path: polygon(80% 0% , 45% 80% , 60% 100% , 0% 100% , 0% 0%);       
    }
    .malai-barfi{
        background-image: url(../img/malai-barfi.png);
        height: 250px;
        background-size: cover;
        overflow: hidden;     
        clip-path: polygon(40% 0% , 55% 20% , 20% 100% , 100% 100% , 100% 0%);   
    }
    .imarti{
        background-image: url(../img/imarti.jpg);
        height: 250px;
        background-size: cover;
        overflow: hidden;  
        clip-path: polygon(80% 0% , 45% 80% , 60% 100% , 0% 100% , 0% 0%);       

    }
    .add-to-cart-btn{
        background-color: $accent-color;
        color: white;
        font-size: 0.65rem;
        border-radius: 5px;  
        &:hover{
            background-color: #740f74;
            color:white;
            font-size: 0.7rem;
            transition: 0.2s all ease-in-out;
        }      
    }
   
